canvas {
  position: absolute;
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  background-color: teal;
  cursor: pointer;
}

.postInput {
  height: 30px;
  border: none;
  margin-bottom: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.right {
  display: flex;
  flex-direction: column;
}
